<ion-content color="dark">

    <ion-button fill="clear" class="btnSalir" (click)="salirSala()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>

    <div class="centrado divJugadores">
        <ion-label class="labelSala">
            <h1>Sala #{{salaService.sala.id}}</h1>
        </ion-label>

        <ion-list color="dark">
            <ion-item color="dark" *ngFor="let jugador of salaService.sala.jugadores">
                <ion-icon name="person-outline" slot="start" *ngIf="salaService.sala.admin !== jugador.nickname"></ion-icon>
                <ion-icon name="person-circle-outline" slot="start" *ngIf="salaService.sala.admin === jugador.nickname"></ion-icon>
                <ion-label>{{jugador.nickname}}</ion-label>
                <ion-button (click)="getReady()" fill="clear" slot="end" class="btnListo">
                    <ion-icon name="checkmark-circle-outline" slot="icon-only" *ngIf="!jugador.listo"></ion-icon>
                    <ion-icon name="checkmark-circle" slot="icon-only" *ngIf="jugador.listo"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>

        <ion-button class="btnEmpezar" (click)="empezarPartida()" *ngIf="puedeEmpezar()">Empezar</ion-button>
    </div>

</ion-content>